/*
* @Author: XM-web
* @Date:   2016-11-17 16:24:44
* @Last Modified by:   XM-web
* @Last Modified time: 2016-11-17 19:26:59
*/
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.main {
  padding: 60px 20px 0 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.main .page-header {
  margin-top: 0;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.media-body {
  width: 60%;
  display: inline-block;
  margin-left: 10px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.sidebar {
  height: 100%;
}

