<div class="page-header">
    <h1>{{title}}</h1>
</div>
<div class="list-group">
    <a href="#" ng-repeat="item in subjects" class="list-group-item" >
        <div class="media">
            <img ng-src="{{item.images.medium}}" alt="{{item.images.alt}}">
            <div class="media-body">
                <h3 class="media-heading"><strong>{{item.title}}</strong></h3> 
                <p>导演：{{item.directors[0].name}}</p>
                <p>主演：<span ng-repeat="actor in item.casts">{{actor.name}}<i ng-if="!$last">、</i></span></p>
                <p>类型：{{item.genres.join('、')}}</p>
            </div>
            <span class="badge">{{item.rating.average}}</span>
		</div>
	 </a>
</div>
<div class="page-footter" ng-show="loading">
<div><span>总共：{{totalCount}}条记录，</span><span>第{{currentPage+'/'+totalPages}}页</span></div>
<nav>
  <ul class="pagination">
    <li ng-class="{disabled:currentPage<=1}"><a class="page" ng-click="go(currentPage - 1)">&laquo;上一页</a></li>
    <li ng-repeat="num in repeatPages" ng-click="go(num)" ng-class="{active:currentPage==num}"><a class="page">{{num}} <span class="sr-only">(current)</span></a></li>
    <li ng-class="{disabled:currentPage>=totalPages}"><a class="page" ng-click="go(currentPage + 1)">下一页&raquo;</a></li>
  </ul>
</nav>
</div>